.shows {
  padding: 2em 0;
  text-align: center;
}

.shows-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.shows-list-item {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 23%;
  padding: 1em 0 0 0;
  margin: 1%;
  box-shadow: 2px 2px 30px rgba(150, 150, 150, .5);
}

.shows-list-item img{
  width: 100%;
}
.shows-list-item h3 {
  margin-top: 0;
}
