.show-cast ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}

.show-cast li {
  text-align: center;
  width: 50%;
  padding: 0 10px;
}

.actor-img {
  width: 5em;
  height: 5em;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

.show-cast h3 {
  text-align: center;
}

@media only screen
  and (min-device-width: 640px) {

  .show-cast li {
    width: 25%;
  }

}
